@font-face{
	font-family: Circular;
	font-display: swap;
	src: url("../fonts/Circular-std-medium-500.woff2") format("woff2"), url("../fonts/Circular-std-medium-500.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProBold;
	font-display: swap;
	src: url("../fonts/SofiaProBold.woff2") format("woff2"), url("../fonts/SofiaProBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProMedium;
	font-display: swap;
	src: url("../fonts/SofiaProMedium.woff2") format("woff2"), url("../fonts/SofiaProMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
